        .fondo {
            position: fixed;
            top: 100px;
            left: 0;
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            z-index: -1;
        }